#game {
  z-index: 2;
  /* display: grid; */
  /* gap: 30px;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr auto;
  grid-template-columns: 1fr 1fr; */
  width: 100%;
  height: 100%;
  /* padding: 1rem; */
  /* box-sizing: border-box; */
}

#user_data {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 300px;
  display: grid;
  align-items: center;
  padding: 8px 0 8px 8px;
  gap: 8px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 16px;
  max-height: 200px;
  overflow: auto;
}

#user_data>span {
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 13px;
}


#selected_settlement {
  position: absolute;
  top: calc(1rem + 230px);
  right: 1rem;
  width: 292px;
  display: grid;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 16px;
}

#selected_settlement>span {
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 13px;
}

#modal_move_troops {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 292px;
  display: grid;
  align-items: center;
  text-align: center;
  padding: 0 8px 20px 8px;
  gap: 8px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 16px;
}